.homeroute-container {
  min-height: 95vh;
  background: rgb(0, 0, 0);
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.4920343137254902) 0%,
      rgba(0, 0, 0, 0.520045518207283) 100%
    ),
    url("/public/assets/img/background2.jpg");
  background-size: cover;
  background-attachment: fixed;
}
