@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
.App {
  text-align: center;
}

.outlet {
  min-height: 95vh;
}

:root {
  --font1: "Oswald", sans-serif;

  --color1: #5591a5;
  --color2: #7ea7b5;
  --color3: #b4ced1;
  --color4: #dcf5ef;
  --color5: #f7f9f9;
}
